<header>
  <a href="{{ site.url }}">
    <img src="{{ site.url }}/assets/images/turing.png" alt="Turing School of Software and Design" class="turing-logo">
    <h1 style="text-align: center; background: black; color: white; font-weight: bold">Second Shift</h1>
  </a>

</header>
<section class="sidebar">
  <nav class="sidebar-navigation">
   <div class="sidebar-navigation--links" >
    <section>
      <ul>
        <li><a href="{{ site.url }}/aws1/lessons">AWS Fundamentals</a></li>
      </ul>
    </section>
  </div>
</nav>
</section>
