<nav role="navigation">
  <ul class="nav-links">
    <li>
      <a href="/" class="home-logo-link">
        <img src="/assets/icons/TuringSchool_LogoMark_Gray.png"
         alt="Turing School of Software and Design logo">
      </a>
    </li>
    <li class="uppercase"><a href="https://www.eventbrite.com/o/turing-school-of-software-amp-design-9895674202" target="blank">Upcoming Courses</a></li>
    <li class="uppercase"><a href="https://turing.io" target="blank">Turing School</a></li>
  </ul>
</nav>
