<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='{{ site.url }}'><img src="{{ site.url }}/assets/images/turing_logo_with_name.png"
                     alt="Turing School of Software and Design"
                     class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section>
      <h1>Intro to SQL</h1>
      <ul>
        <li><a href="{{ site.url }}/intro_to_sql/lessons">Lessons</a></li>
        <li><a href="{{ site.url }}/intro_to_sql/labs">Labs</a></li>
      </ul>
    </section>
  </div>
</nav>
