#meta h1 {
  color: #fff
}

body,
html {
  background-color: #f5f5f5;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif
}

a:link,
a:visited {
  text-decoration: none;
  color: #05c2d1
}

#toc a:hover,
a:hover {
  color: #000
}

blockquote {
  font-family: Lato, sans-serif;
  font-size: 28px;
  width: 90%
}

header {
  background-color: #3c4040
}

h1 {
  margin: 0;
  padding: 23px 35px;
  font-weight: 200;
  margin-bottom: -32px;
}

#view-toggle span.active,
section h3 {
  color: #333;
  font-weight: 600
}

#meta {
  background-color: #05c2d1;
  font-size: 11px;
  padding: 1px 40px;
  left: 0;
  bottom: 0;
  height: 50px;
}

#meta a {
  color: white;
  text-decoration: none;
}

#meta span {
  margin: 0 5px
}

#wrapper {
  display: flex;
  min-height: 100%
}

.nounderline {
  text-decoration: none !important;
}

#toc {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  flex-grow: 1;
  background: #f5f5f5;
  border-right: 1px solid #ccc;
  padding: 25px 30px;
  min-width: 15%;
  z-index: 0;
}

#toc ol {
  list-style-type: none;
  padding: 0;
  margin: 10px 0px;
}

#toc ol li {
  padding: 3px 0
}

#toc a:link,
#toc a:visited {
  color: #3c4040
}

#content-container {
  flex-grow: 3;
  padding: 50px 60px;
  margin: -6px 8px 0 0;
  background: #fff;
  box-shadow: -1px -1px 2px #0097a2;
  position: relative;
  z-index: 1;
}

#content-container section {
  color: #555;
  width: 100%;
}

#content-container hr {
  width: 100%;
  height: 1px;
  background-color: #eee;
  border: 0;
  margin: 50px 0
}

section .things-to-note h4,
section h2 {
  margin: 0
}

#view-toggle {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 11px;
  color: #666
}

section h2,
section h2 a {
  color: #000
}

section h3 {
  margin: 0;
  padding: 20px 0 0
}

section p {
  line-height: 1.5em
}

section ul {
  -webkit-padding-start: 20px
}

section code {
  font-size: 16px;
  color: #fc4b60
}

section .things-to-note {
  padding: 20px;
  font-size: 13px;
  background-color: lighten(#f9ae06, 45);
  border: 1px solid #eee;
  margin-top: 10px;
}

section img.right {
  float: right;
  margin: 20px 0 0 50px;
  max-width: 45%
}

textarea {
  resize: none;
  width: 95%;
  height: 75px;
  font-size: 16px;
  color: #fc4b60;
  font-family: monospace;
}

.section-image {
  height: 75px;
}

.flex-container {
  display: flex;
}

.inner-fcontainer {
  flex-basis: 100%;
}

.inner-fcontainer.border {
  border: 1px solid grey;
  padding: 10px;
}

li:hover, p:hover {
  background-color: #eeeeee;
}

.try-it {
  background-color: lighten($teal, 50);
  border: 1px solid $teal;
  padding: 1em;
  pre {
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    color: white;
  }
}

.vocab {
  color: #9b0428;
  font-weight: bold;
  background-color: lighten(#9b0428, 65);
}

.page-header h1 {
  color: #fff
}

.together {
  background-color: lighten(#f9ae06, 45);
  border: 1px solid #f9ae06;
  padding: 1em;
  margin-bottom: 3em;

  @media (max-width: $tablet-width - 50px) {
    flex-direction: column;
  }
}

.bright {
  color: #9b0428;
}

.cors {
  background-color: eee;
}

.section-header {
  margin-top: 1px;
  border-bottom: 3px solid lighten($medium-gray, 20);
  display: table; 
}

.screenshot {
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
}

.img-steps div {
  border: 1px solid grey;
  margin: 10px;
}
